<a href="https://github.com/ianwalter/ng-boilerplate">
  <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
</a>
<br>
<div class="container">
  <div class="row">
    <div class="span12">
      <header>
        <h1>ng-boilerplate</h1>
        <h4>A base for front-end development with <a href="http://angularjs.org/">AngularJS</a></h4>
      </header>
      <br>
      <div class="panel panel-default">
        <div class="panel-heading">ng-boilerplate includes:</div>
        <div class="panel-body">
          <strong>Application</strong>
          <ul>
            <li>
              <a href="http://requirejs.org/">RequireJS</a> - JavaScript file and module loader
            </li>
            <li>
              <a href="http://getbootstrap.com/">Bootstrap</a> - Front-end CSS framework
            </li>
            <li>
              <a href="http://lesscss.org/">LESS</a> - CSS pre-processor
            </li>
            <li>
              <a href="http://bower.io/">Bower</a> - Front-end package manager
            </li>
            <li>
              <a href="http://gulpjs.com/">Gulp</a> - Streaming build system
            </li>
          </ul>
          <strong>Testing</strong>
          <ul>
            <li>
              <a href="https://github.com/angular/bower-angular-mocks/">angular-mocks</a> - Mocking for AngularJS
            </li>
            <li>
              <a href="http://karma-runner.github.io/">Karma</a> - Integration test runner
            </li>
            <li>
              <a href="http://visionmedia.github.io/mocha/">Mocha</a> - Testing framework
            </li>
            <li>
              <a href="http://chaijs.com/">Chai</a> - Super-flexible assertion library
            </li>
            <!--<li>-->
              <!--<a href="https://github.com/angular/protractor/">Protractor</a> - End-to-end test runner-->
            <!--</li>-->
          </ul>
        </div>
      </div>
      <br>
      <div class="panel panel-default">
        <div class="panel-heading">Instructions:</div>
        <div class="panel-body">
          <ol>
            <li>
              Install bower using <code>sudo npm install bower -g</code>.
              Then run bower in the ngbp directory to install front-end dependencies: <code>bower install</code>.
            </li>
            <li>
              Install gulp using <code>sudo npm install gulp -g</code>.
              Then install the gulp plugins: <code>npm install</code>.
            </li>
            <li>
              Run <code>gulp</code> to compile, minify and lint front-end assets.
            </li>
            <li>
              Run <code>gulp debug</code> while you are developing so that you can use the unminified version of your assets.
            </li>
          </ol>
        </div>
      </div>
      <br>
      <p>
        <input type="text" class="form-control name-input" placeholder="Your name" ng-model="nameService.name" />
      </p>
      <br>
      <p>
        <div name-format value="nameService.name"></div>
        <br>
        I hope you find this useful!<br>
        «–– <a href="http://ianvonwalter.com">Ian</a>
      </p>
      <br>
    </div>
  </div>
</div>