
<a href="https://github.com/ianwalter/ngbp">
  <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
</a>
<br>
<div class="container">
  <div class="row">
    <div class="span12">
      <header>
        <h1>ng-boilerplate</h1>
        <h4>A base for front-end development with <a href="http://angularjs.org/">AngularJS</a></h4>
      </header>
      <br>
      <div class="panel panel-default">
        <div class="panel-heading">ng-boilerplate includes:</div>
        <div class="panel-body">
          <ul>
            <li>
              <a href="http://requirejs.org/">RequireJS</a> - JavaScript file and module loader
            </li>
            <li>
              <a href="http://jquery.com/">jQuery</a> - The most famous JavaScript library of all time
            </li>
            <li>
              <a href="http://getbootstrap.com/">Bootstrap</a> - Front-end framework
            </li>
            <li>
              <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a> - Icon font
            </li>
            <li>
              <a href="http://lesscss.org/">Less</a> - CSS pre-processor
            </li>
            <li>
              <a href="http://bower.io/">Bower</a> - Front-end package manager
            </li>
            <li>
              <a href="http://gulpjs.com/">Gulp</a> - Streaming build system
            </li>
          </ul>
        </div>
      </div>
      <br>
      <div class="panel panel-default">
        <div class="panel-heading">Instructions:</div>
        <div class="panel-body">
          <ol>
            <li>
              Install bower using <code>sudo npm install bower -g</code>.
              Then run bower in the ngbp directory to install front-end dependencies: <code>bower install</code>.
            </li>
            <li>
              Install gulp using <code>sudo npm install gulp -g</code>.
              Then install the gulp plugins: <code>npm install</code>.
            </li>
            <li>
              Run <code>gulp</code> to compile, minify and lint front-end assets.
            </li>
            <li>
              Run <code>gulp debug</code> while you are developing so that you can use the unminified version of your assets.
            </li>
          </ol>
        </div>
      </div>
      <br>
      <p>
      I hope you find this useful!<br>
      «–– <a href="{{ site }}">{{ name }}</a>
      </p>
      <br>
    </div>
  </div>
</div>